.avatar-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
  justify-content: center;
  padding: $spacing-normal;
}

.avatar-image-wrapper {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: $avatar-size-normal;
  overflow: hidden;
  position: relative;
  width: $avatar-size-normal;
}

.avatar-wrapper img {
  position: absolute;
  top: 0;
  width: 100%;
}
