.avatar-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
  justify-content: center;
  padding: $spacing-normal;
}

.avatar-wrapper img {
  border-radius: 50%;
  height: $avatar-size-normal;
}
