.home-wrapper {
  color: $primary-color;
  cursor: pointer;
  margin: $spacing-normal auto;
  width: fit-content;
}

.home-wrapper a {
  color: unset;
  text-decoration: none;
}

@for $i from 1 through length($logo-letter-colors) {
  $color: nth($logo-letter-colors, $i);
  .home-wrapper span:nth-child(#{$i}) {
    color: $color;
  }
}
