.login-page-wrapper {
  align-items: center;
  bottom: 0;
  color: $on-primary-color;
  display: flex;
  justify-content: center;
  left: 240px;
  position: absolute;
  right: 0;
  top: 0;
}

.login-options-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-large;
  padding: $spacing-large;
}

.social-login-wrapper {
  align-items: center;
  border-bottom: 1px solid $on-primary-color;
  display: flex;
  gap: $spacing-normal;
  justify-content: center;
  padding: $spacing-normal;
  padding-bottom: $spacing-normal + $spacing-large;
  position: relative;
}

.social-login-wrapper::after {
  background-color: $primary-color;
  bottom: -$spacing-small;
  color: $on-primary-color;
  content: 'or';
  left: 50%;
  margin-left: -$spacing-large;
  position: absolute;
  text-align: center;
  width: $spacing-normal + $spacing-large;
}

.google-signin-button {
  background: white;
  @include social-signin-button;
}

.google-signin-button::before {
  background-image: url('../assets/google-logo.png');
  @include social-signin-button-logo;
}

.facebook-signin-button {
  background: #4267b2;
  color: white;
  @include social-signin-button;
}

.facebook-signin-button::before {
  background-image: url('../assets/fb-logo.png');
  @include social-signin-button-logo;
}

.standard-login-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-normal;
  padding: $spacing-normal;
}

.standard-login-wrapper input {
  outline: none;
  padding: $spacing-small;
}

.standard-login-buttons-wrapper {
  align-items: center;
  display: flex;
  gap: $spacing-normal;
  justify-content: center;
}

.standard-login-buttons-wrapper input {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .login-page-wrapper {
    position: unset;
  }
}
