.login-page-wrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 240px;
  position: absolute;
  right: 0;
  top: 0;
}

.login-options-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}

.social-login-wrapper {
  align-items: center;
  border-bottom: 1px solid white;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  padding-bottom: 48px;
  position: relative;
}

.social-login-wrapper::after {
  background-color: #153f3c;
  bottom: -8px;
  color: white;
  content: 'or';
  left: 50%;
  margin-left: -32px;
  position: absolute;
  text-align: center;
  width: 48px;
}

.google-signin-button {
  background: white;
  @include social-signin-button;
}

.google-signin-button::before {
  background-image: url('../assets/google-logo.png');
  @include social-signin-button-logo;
}

.facebook-signin-button {
  background: #4267b2;
  color: white;
  @include social-signin-button;
}

.facebook-signin-button::before {
  background-image: url('../assets/fb-logo.png');
  @include social-signin-button-logo;
}

.standard-login-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.standard-login-wrapper input {
  outline: none;
  padding: 8px;
}

.standard-login-buttons-wrapper {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.standard-login-buttons-wrapper input {
  flex: 1;
}
