@mixin social-signin-button {
  align-items: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  gap: $spacing-small;
  justify-content: center;
  padding: $spacing-small;
}

@mixin social-signin-button-logo {
  background-size: 24px;
  content: '';
  height: 24px;
  width: 24px;
}
