.movie-card-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
  margin-top: $spacing-large;
  position: relative;
  width: 250px;
}

.movie-card-timestamp {
  color: $card-secondary-text-color;
  position: absolute;
  top: -$spacing-normal;
  transform: translate(0, -50%);
}

.movie-card-poster {
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 2px $card-shadow-color;
  display: flex;
  height: $card-height;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: $card-width;
}

.movie-card-poster img {
  flex-shrink: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.movie-card-overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-xsmall;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.movie-card-overlay:hover {
  background-color: $card-shadow-color;
}

.movie-card-overlay button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: none;
  padding: $spacing-small $spacing-normal;
  width: 40%;
}

.movie-card-overlay:hover button {
  display: unset;
}

.movie-card-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
}

.movie-card-rating {
  align-items: center;
  color: $card-secondary-text-color;
  display: flex;
  flex-direction: column;
}
