.movie-grid-wrapper {
  bottom: 0;
  color: $on-primary-color;
  left: 240px;
  position: absolute;
  right: 0;
  top: 0;
}

.movie-grid-wrapper h1 {
  text-align: center;
}

.movie-grid {
  display: grid;
  gap: $spacing-normal;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  padding: $spacing-normal;
}

@media only screen and (min-width: 788px) {
  .movie-grid {
    justify-content: space-between;
  }
}
