.movie-grid-wrapper {
  bottom: 0;
  color: $on-primary-color;
  left: 240px;
  position: absolute;
  right: 0;
  top: 0;
}

.movie-grid-wrapper h1 {
  text-align: center;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-normal;
  justify-content: center;
  padding: $spacing-normal;
}
