.movie-page-wrapper {
  bottom: 0;
  color: $on-primary-color;
  display: flex;
  flex-direction: column;
  gap: $spacing-large;
  left: 240px;
  padding: $spacing-large;
  position: absolute;
  right: 0;
  top: 0;
}

.movie-page-header {
  align-items: center;
  display: flex;
  gap: $spacing-small;
}

.movie-page-header h1 {
  flex: 1;
}

.movie-page-info {
  background-color: $info-background-color;
  border-radius: 20px;
  display: flex;
  gap: $spacing-large;
}

.movie-page-info-poster {
  border-radius: 20px;
  box-shadow: 0px 0px 8px 2px $card-shadow-color;
  display: flex;
  flex-shrink: 0;
  min-height: 450px;
  overflow: hidden;
  width: 300px;
}

.movie-page-info-poster img {
  object-fit: cover;
}

.movie-page-info-extra {
  display: flex;
  flex-direction: column;
  gap: $spacing-large;
  padding: $spacing-large $spacing-large 0 0;
}

.movie-page-info-extra p:last-child {
  overflow: hidden;
  text-align: justify;
}

.movie-page-stats {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-normal;
  justify-content: space-between;
}

.movie-page-info-extra p {
  align-items: center;
  display: flex;
  gap: $spacing-small;
}

.movie-page-icon {
  align-items: center;
  background-color: $icon-background-color;
  border-radius: 8px;
  display: flex;
  padding: $spacing-small;
}

.movie-page-external-link {
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  width: 40px;
}

.movie-page-external-link img {
  width: 100%;
}

.movie-page-icon-action {
  align-items: center;
  background-color: $secondary-color;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  padding: $spacing-small;
}

@media only screen and (max-width: 600px) {
  .movie-page-wrapper {
    position: unset;
  }
}

@media only screen and (max-width: 1060px) {
  .movie-page-info {
    align-items: center;
    flex-direction: column;
  }

  .movie-page-info-extra {
    padding: 0 $spacing-large $spacing-large;
  }
}
