.rating-stats-page-wrapper {
  align-items: center;
  bottom: 0;
  color: $on-primary-color;
  display: flex;
  flex-direction: column;
  gap: $spacing-normal;
  justify-content: center;
  left: 240px;
  margin: $spacing-normal;
  position: absolute;
  right: 0;
  top: 0;
}

.rating-distribution {
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
  text-align: center;
  width: 100%;
}

.rating-row {
  align-items: center;
  display: flex;
  gap: $spacing-small;
  margin-left: 50%;
  transform: translate(-50%);
}

.rating-row div:first-child {
  width: $spacing-normal;
}

.rating-bar-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  gap: $spacing-small;
}

.rating-bar {
  background-color: $secondary-color;
  height: $spacing-large;
}

.rating-stats-table th,
.rating-stats-table td {
  font-family: 'Open Sans', sans-serif;
}

.rating-stats-table th {
  background-color: $on-primary-color;
  color: $primary-color;
  cursor: pointer;
  padding: 0 $spacing-normal;
}

.rating-stats-table td {
  padding: 0 $spacing-small;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .rating-stats-page-wrapper {
    position: unset;
  }
}
