.rating-page-wrapper {
  bottom: 0;
  color: $on-primary-color;
  left: 240px;
  position: absolute;
  right: 0;
  top: 0;
}

.rating-page-wrapper h1 {
  text-align: center;
}

.filter-sort {
  align-items: center;
  color: $dropdown-text-color;
  display: flex;
  gap: $spacing-normal;
  margin: $spacing-normal;
  padding: 0 25px;
}

.filter-sort > div {
  flex: 1;
}

.rating-page-info-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-normal;
  justify-content: center;
  padding: $spacing-normal;
  position: relative;
}

.stats-button {
  background-color: $secondary-color;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 $spacing-normal;
  padding: $spacing-normal;
  position: absolute;
  right: 25px;
  top: $spacing-normal;
}

@media only screen and (max-width: 600px) {
  .rating-page-wrapper {
    position: unset;
  }
}

@media only screen and (max-width: 1060px) {
  .stats-button {
    margin: 0 auto;
    position: unset;
    transform: translate(0, $spacing-normal);
    width: fit-content;
  }
}
