.rating-dialog .MuiPaper-root {
  align-items: center;
  gap: $spacing-normal;
  padding: $spacing-normal;
}

.rating-hover {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.rating-hover p {
  bottom: $spacing-normal;
  position: absolute;
  transform: translate(0, -50%);
}

.rating-button {
  background-color: $primary-color !important;
  color: $on-primary-color !important;
}

.rating-error {
  align-items: center;
  bottom: $spacing-normal;
  color: red;
  display: flex;
  gap: $spacing-small;
  position: absolute;
  transform: translate(0, -50%);
}
