.rating-dialog .MuiPaper-root {
  align-items: center;
  gap: $spacing-normal;
  padding: $spacing-normal;
}

.rating-button {
  background-color: $primary-color !important;
  color: $on-primary-color !important;
}
