.side-nav-drawer {
  background-color: $on-primary-color;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: $spacing-normal;
  position: fixed;
  top: 0;
  width: 240px;
}

.side-nav-logo-toggle-wrapper {
  position: relative;
}

.side-nav-toggle {
  position: absolute;
  right: $spacing-normal;
  top: 50%;
  transform: translate(0, -50%);
}

.side-nav-expanded {
  max-height: 100vh;
  transition: max-height 1s;
}

.side-nav-collapsed {
  max-height: 0;
  transition: max-height 1s;
}

@media only screen and (max-width: 600px) {
  .side-nav-drawer {
    bottom: unset;
    position: sticky;
    right: 0;
    width: unset;
    z-index: 2;
  }
}
