.signup-page-wrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 240px;
  position: absolute;
  right: 0;
  top: 0;
}

.signup-module-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-normal;
  padding: $spacing-normal;
}

.signup-module-wrapper input {
  outline: none;
  padding: $spacing-small;
}

@media only screen and (max-width: 600px) {
  .signup-page-wrapper {
    position: unset;
  }
}
