.user-page-wrapper {
  bottom: 0;
  color: $on-primary-color;
  left: 240px;
  position: absolute;
  right: 0;
  top: 0;
}

.user-page-profile {
  display: flex;
}

.user-page-avatar img {
  height: $avatar-size-large;
  width: $avatar-size-large;
}

.user-page-avatar p {
  display: none;
}

.user-page-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-page-watchstats {
  display: flex;
  flex-direction: column;
  font-size: larger;
  gap: $spacing-normal;
  padding: $spacing-normal;
}

.rating-history-button {
  background-color: $secondary-color;
  border-radius: 8px;
  cursor: pointer;
  margin: $spacing-normal;
  padding: $spacing-normal;
  position: absolute;
  right: 0;
  top: 0;
}
