.user-page-wrapper {
  bottom: 0;
  color: $on-primary-color;
  left: 240px;
  position: absolute;
  right: 0;
  top: 0;
}

.user-page-profile {
  display: flex;
}

.user-page-avatar img {
  height: $avatar-size-large;
  width: $avatar-size-large;
}

.user-page-avatar p {
  display: none;
}

.user-page-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-page-watchstats {
  display: flex;
  flex-direction: column;
  font-size: larger;
  gap: $spacing-normal;
  margin: $spacing-normal;
}

.watchstats-main-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-normal;
}

.watchstats-item {
  background-color: $on-primary-color;
  border-radius: 8px;
  color: $primary-color;
  flex-grow: 1;
  padding: $spacing-normal;
}

.watchstats-item p:first-child {
  color: $secondary-color;
  font-size: small;
}

.watchstats-item p:last-child {
  font-weight: bold;
}

.top-rated-movie-card-wrapper {
  display: flex;
  gap: $spacing-normal;
  justify-content: space-evenly;
  margin-top: $spacing-small;
}

.top-rated-movie-card {
  border-radius: 20px;
  box-shadow: 0px 0px 8px 2px $card-shadow-color;
  max-height: 300px;
  max-width: 200px;
  overflow: hidden;
}

.top-rated-movie-card img {
  height: 100%;
  width: 100%;
}

.rating-history-button {
  background-color: $secondary-color;
  border-radius: 8px;
  cursor: pointer;
  margin: $spacing-normal;
  padding: $spacing-normal;
  position: absolute;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 600px) {
  .user-page-wrapper {
    position: unset;
  }
}

@media only screen and (max-width: 1060px) {
  .user-page-profile {
    align-items: center;
    flex-direction: column;
  }

  .user-page-info {
    text-align: center;
  }

  .rating-history-button {
    margin: 0 auto;
    position: unset;
    transform: translate(0, $spacing-normal);
    width: fit-content;
  }
}
