// App theme
$font-stack: 'Poppins', sans-serif;
$on-primary-color: white;
$primary-color: #153f3c;
$secondary-color: #4d6d6b;

// Spacing
$spacing-normal: 16px;
$spacing-large: $spacing-normal * 2;
$spacing-small: $spacing-normal / 2;
$spacing-xsmall: $spacing-small / 2;

// App logo
$logo-letter-colors: #f5b342, #ef564d, #019ec9, #6bb86a;

// Avatar
$avatar-size-normal: 48px;
$avatar-size-large: $avatar-size-normal * 3;

// Movie card
$card-shadow-color: #00000080;

// Movie page
$info-background-color: #193231;

// Icon
$icon-background-color: #304746;

// Dropdown
$dropdown-text-color: black;
