* {
  box-sizing: border-box;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
}

.loading-indicator {
  align-items: center;
  background-color: $card-shadow-color;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 240px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .loading-indicator {
    left: 0;
  }
}
